.block {
  margin: 15px;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  font-weight: 900;
  height: 100px;
  width: 100px;
  color: rgb(27, 31, 36);
}

.block_hoverEffect {
  color: white;
  transition: all 0.2s ease;
}
.block_hoverEffect:hover {
  color: gray;
}

.block__shadow {
  box-shadow: 0 0 10px rgb(27, 31, 36);
}
.block:active {
  box-shadow: 0 0 2px rgb(27, 31, 36);
}

.userO {
  text-shadow: 0 0 10px red;
}
.userX {
  text-shadow: 0 0 10px green;
}

@media (max-width: 500px) {
  .block {
    width: 60px;
    height: 60px;
    font-size: 50px;
    font-weight: 900;
    margin: 15px;
  }
}
@media (max-width: 350px) {
  .block {
    padding-bottom: 3px;
    width: 45px;
    height: 45px;
    font-size: 50px;
    font-weight: 900;
    margin: 15px;
  }
}
