.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(27, 31, 36);
  width: 100vw;
  height: 100vh;
}

.container {
  box-shadow: 0 0 20px rgb(27, 31, 36) inset;
  background-color: white;
  padding: 60px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}

.footer {
  flex: 1;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}

.footer > div {
  border: 1px solid whitesmoke;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  z-index: 100;
  cursor: pointer;
}
.footer > div:active {
  transform: scale(0.98);
}

.footer__regular:hover {
  background-color: rgba(0, 128, 0, 0.3);
}
.footer__advanced:hover {
  background-color: rgba(255, 0, 0, 0.2);
}

.footer__regular__active {
  background-color: rgba(0, 128, 0, 0.3);
}
.footer__advanced__active {
  background-color: rgba(255, 0, 0, 0.2);
}

@media (max-width: 500px) {
  .container {
    padding: 30px;
  }
  .footer {
    width: 90%;
  }
}
